{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}批次掃碼入倉{% endblock %}</h3>
<hr>

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" rel="stylesheet">

{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        var scannedCount = 0;   // 用來追蹤掃描的產品數量
        var scannedSnSet = new Set(); // 建立一個集合來儲存掃描過的序號

        function updateScannedCount () {
            $("#scanned_count").text(scannedCount);
        }
        function getProductInfo(inputField) {
            var productSn = inputField.val();
            var productInfoContainer = inputField.siblings('.product-info');

            if (scannedSnSet.has(productSn)) {
            alert("產品序號 " + productSn + " 已被掃描，請勿重複掃描");
            inputField.val(''); // 清除輸入欄位
            return;
        }

            $.get("/json/product", function(productData) {
                var foundProduct = productData.find(function(product) {
                    return product.product_sn === productSn;
                });

                scannedSnSet.add(productSn); // 將新掃描的序號添加到集合中

                var productInfoContainer = inputField.siblings('.product-info');                

                if (!foundProduct) {
                    productInfoContainer.html("<p>找不到匹配的產品信息</p>");
                    return;
                }

                $.get("/json/shipment_in", function(shipmentData) {
                    var hasShipmentRecord = shipmentData.some(function(shipment) {
                        return shipment.product_sn === productSn;
                    });

                    if (hasShipmentRecord) {
                        alert("產品序號 " + productSn + " 已有進貨紀錄，請重新掃描");
                        inputField.val(''); // 清除輸入欄位
                        productInfoContainer.empty();
                        return;
                    }

                    var currentDate = new Date(); // 現在的日期和時間
                    var createdDate = new Date(foundProduct.created_date);
                    var manufacturingDate = new Date(foundProduct.manufacturing_date);
                    var diffInTimeCreated = currentDate - createdDate;
                    var diffInTimeManufacturing = currentDate - manufacturingDate;
                    var diffInDaysCreated = diffInTimeCreated / (1000 * 3600 * 24);
                    var diffInDaysManufacturing = diffInTimeManufacturing / (1000 * 3600 * 24);

                    productInfoContainer.html(`
                        產品名稱: ${foundProduct.product_name}、型號: ${foundProduct.model_name}、ERP 編號: ${foundProduct.erp_no} <br>
                        產品建檔: ${foundProduct.created_date} (距今 ${Math.round(diffInDaysCreated)} 天)<br>
                        出廠日期: ${foundProduct.manufacturing_date} (距今 ${Math.round(diffInDaysManufacturing)} 天)
                        <p></p>
                    `);
                });
            });
        }

        function addProductSnInput() {
            scannedCount++;
            updateScannedCount();
            var newProductSnInput = $(".product-sn-input:first").clone();
            newProductSnInput.find("input[type='text']").val('');
            newProductSnInput.find('.product-info').empty();
            newProductSnInput.append('<p><a href="#" class="remove-sn-link">刪除</a></p><hr>');
            newProductSnInput.appendTo("#product-sn-container");
            newProductSnInput.find("input[type='text']").focus();            
        }

        $("#add-product-sn").click(addProductSnInput);
        $(document).on('click', '.remove-sn-link', function(e) {
            e.preventDefault();
            $(this).closest('.product-sn-input').remove();
            scannedCount--;
            updateScannedCount();
        });
        
        $(document).on('keydown', '.product-sn-input input[type="text"]', function(e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                e.preventDefault();
                addProductSnInput();
            }
        }).on('change', '.product-sn-input input[type="text"]', function() {
            getProductInfo($(this));
        });
    });
</script>


<div class="container mt-3">
    <div class="row">
      <!-- Left Section: Customer Selection and Notes -->
      <div class="mx-auto col-10 mt-4">
    <form method="post" class="container" action="{{ url_for('overview.scan_in.scan_in_batch') }}">
        <div class="mb-3">
            <label for="customer_id" class="form-label">客戶(客供商/消費者)</label>
            <select name="customer_id" id="customer_id" class="form-select" required>
                <option value="" disabled selected>選擇客戶</option>
                {% for customer in customers %}
                <option value="{{ customer.customer_id }}">{{ customer.customer_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3"> <!-- 產品序號輸入框容器 -->
            <label for="product_sn" class="form-label">產品序號</label>            
            <div id="product-sn-container">
                <!-- 初始的產品序號輸入欄位 -->
                <div class="product-sn-input">
                    <input type="text" name="product_sn[]" class="form-control product-sn-field">
                    <!-- 顯示產品基本資訊 -->
                    <div class="product-info"></div>
                    <!-- 這裡不添加 "刪除" 連結，因為這是初始的產品序號欄位 -->
                </div>
            </div>

            <!-- 新增產品序號按鈕 -->
            <div class="mb-3">
                <label for="scanned_count" class="form-label">已掃描數量:</label>
                <span id="scanned_count">0</span>
            </div>
            <button type="button" id="add-product-sn" class="btn btn-secondary mt-2 mb-3">新增產品序號</button>
        </div>

        <div class="mb-3">
            <label for="note" class="form-label">備註</label>
            <input type="text" name="note" id="note" value="{{ request.form['note'] }}" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">存檔</button>
    </form>
</div>
</div>
</div>
{% endblock %}
