<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="row g-3">
                    <!-- Left column -->
                    <div class="col-md-5 mx-auto">

                    </div>

                    <!-- Right column -->
                    <div class="col-md-5 mx-auto">

                    </div>


                    <div class="col-12 mt-3 mx-auto text-center">
                        <button type="submit" class="btn btn-primary">存檔</button>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>