{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %} 新增客戶 {% endblock  %}</h3>
    <hr>

{% endblock  %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <form method="post">
        <div class="row g-3">

          <!-- Left column -->
          <div class="col-md-5 mx-auto">

            <div class="mb-3">
              <label for="customer_name" class="form-label">客戶名稱</label>
              <input type="text" name="customer_name" id="customer_name" value="{{ request.form['customer_name'] }}"
                class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="contact" class="form-label">聯絡人</label>
              <input type="text" name="contact" id="contact" value="{{ request.form['contact'] }}" class="form-control"
                required>
            </div>

            <div class="mb-3">
              <label for="phone" class="form-label">電話</label>
              <input type="text" name="phone" id="phone" value="{{ request.form['phone'] }}" class="form-control"
                required>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" name="email" id="email" value="{{ request.form['email'] }}" class="form-control"
                required>
            </div>

            <div class="mb-3">
              <label for="address" class="form-label">地址</label>
              <input type="text" name="address" id="address" value="{{ request.form['address'] }}" class="form-control"
                required>
            </div>

          </div>

            <!-- Right column -->
            <div class="col-md-5 mx-auto">

              <div class="mb-3">
                <label for="type" class="form-label">客戶類型</label>
                <select name="type" id="type" class="form-control" required>
                  <option value="">請選擇客戶類型</option>
                  <option value="供應商">供應商 (進倉=工廠進貨、出倉=退回工廠)</option>
                  <option value="代理商">代理商 (進倉=退貨)</option>
                  <option value="零售商">零售商 (進倉=RMA)</option>
                  <option value="電商">電商 (進倉=退貨、出倉=寄倉)</option>
                  <option value="RMA維修客人">RMA維修客人</option>
                  <option value="其它">其它</option>
                </select>
              </div>

              <div class="row g-3 align-items-center">

                <div class="mb-3">
                  <label for="notes" class="form-label">註記</label>
                  <input type="text" name="notes" id="notes" value="{{ request.form['notes'] }}" class="form-control"
                    required placeholder="請輸入註記，會顯示在詳細資料">
                </div>

              </div>
            </div>
              <div class="col-12 mt-3 mx-auto text-center">
            
                <button type="submit" class="btn btn-primary">存檔</button>

        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}